<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="character-slice-index.ZPM">
    <Module>
      <Name>character-slice-index</Name>
      <Description>a different text index</Description> 
      <Version>0.0.3</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="rcc.PKG"/>
  </Module>
  </Document>
</Export>
